# Review/delivery verbs. These are only one half of the workflow conjunction.
review
approve
merge
deploy
ci
build
test
pull request
cherry-pick
cherry pick
preprod
来 review
没问题就 approve
合并
发版
上线
测一下
看一下 pr
看看 pr
