{{if eq .Classification "stale_wait_for_human"}}Follow up on an unanswered thread{{else if eq .Classification "unanswered_question"}}Follow up on this open question{{else if eq .Classification "stuck_or_handoff"}}Follow up on this stuck point{{else if eq .Classification "link_followup_candidate"}}Read this shared material{{else if eq .Classification "synthesis_eligible_thread"}}Follow up on this discussion{{else}}Follow up on this message{{end}}
